---
layout: page
title: "The Big Board"
description: "The Big Board of Cards"
video_url: http://www.youtube.com/embed/fyY9tb8Rvlk
---
{% include JB/setup %}

<div>
<iframe width="100%" height="315" src="https://trello.com/b/WXJVNfZh/the-big-board" frameborder="0" allowfullscreen="allowfullscreen">&nbsp;</iframe>
</div>


{% if page.video_url %}
  <div class="less-fancy-video-header">
	  <iframe
		  class="yt-embed"
		  src="{{ page.video_url }}?&amp;rel=0&amp;showinfo=0&amp;autohide=1&amp;hd=1&amp;wmode=transparent"
		  frameborder="0"
		  allowfullscreen="true"></iframe>
  </div>
{% endif %}
